html,
body {
	margin: 0;
	padding: 0;
}

body {
	padding: 150vh 0;
	display: grid;
	place-content: center;
}

video {
	display: block;
	position: fixed;
	top: 25vh;
	left: 1em;
	height: 50vh;
	width: auto;
	z-index: 1;
	border: 1px solid #ccc;
}

@media (orientation: portrait) {
	video {
		height: auto;
		width: 80vw;
	}
}

@keyframes foo {
	to {
		scale: 1;
	}
}

.animation-subject {
	animation: foo linear both;
	animation-timeline: view();
	animation-range: cover;

	transform-origin: 0% 50%;
	height: 24px;
	width: 100vw;
	background: hotpink;
	display: grid;
	place-content: center;
}

header,
footer {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  font-style: italic;
}
header {
  top: 1em;
}
footer {
  bottom: 0;
}

@layer warning {
	.warning {
		box-sizing: border-box;
		padding: 1em;
		margin: 1em 0;
		border: 1px solid #ccc;
		background: rgba(255 255 205 / 0.8);

		position: fixed;
		bottom: 1em;
		font-size: 2em;
		left: 1em;
		right: 1em;
		max-width: 80ch;
		margin: 0 auto;
		z-index: 1000;
	}

	.warning > :first-child {
		margin-top: 0;
	}

	.warning > :last-child {
		margin-bottom: 0;
	}

	.warning a {
		color: blue;
	}
	.warning--info {
		border: 1px solid #123456;
		background: rgb(205 230 255 / 0.8);
	}
	.warning--alarm {
		border: 1px solid red;
		background: #ff000010;
	}

	@supports (animation-timeline: view()) {
		.warning:not([data-bug]) {
			display: none;
		}
	}

	@supports (animation-range: 0vh 90vh) {
		.warning[data-bug="1427062"] {
			display: none;
		}
	}
}
